extends layout

block content
    div.span6.offset3
        div(style="height:300px; margin-top: 10%")
            form.well(method="POST", action="/init-session")
                label Enter you email address: 
                input.span5(type="text", name="email", placeholder="waldo@where.mi")
                    
                div
                    button.btn.btn-primary(type="submit") Open a new session